body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 10px;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  z-index: 1;
  margin-left: 30px;
  /*font-family: 'Fjalla One', sans-serif */
  /*font-family: 'Acme', sans-serif; */
 
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#absolute-image {
  position: absolute;
  height: 700px;
  width: 400px;
  box-shadow: 10px 10px 5px #0099cc;
}

.donate-button {
  position: absolute;
  border-radius: 5px;
  color: Black;
  background-color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 450px;
  margin-left: 180px;
}

.flex-container {
  background-color: white;
  display: flex;
  height: 100px;
  width: 100%;
  border: white solid;
}

.big-font {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 40px;
}

.margin-var-left {
  margin-left: 575px;
  margin-top: 10px;
}

.margin-fish {
  margin-top: 10px;
}

.margin-others {
  margin-left: 20px;
  margin-top: 10px;
}

.sticky {
  position: sticky;
  width: 100%;
  background-color: white;
  top: 0;
}

.sticky-var {
  z-index: 1000;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.plastic-exp{
  margin-left: 50px;
  margin-Top: 50px; 
  margin-right: 50px;
}

.animals {
  font-family: "Montserrat";
  position: relative;
}

.heading {
  font-size: 2.5vw;
  font-weight: 900;
  margin-top: 5%;
  margin-left: 3%;
}

.paragraph {
  font-size: 1.5vw;
  margin-top: 3%;
  margin-right: 9%;
  margin-left: 3%;
  line-height: 1.9;
}

.picture {
  margin: 3%;
  width: 35%;
  height: auto;
  object-fit: scale-down;
  border-radius: 9px;
    box-shadow: 0 3px 20px rgba(0,0,0,.4);
border-radius: 9px;
    box-shadow: 0 3px 20px rgba(0,0,0,.4)

}

.fish {
  display: flex;
}

.whales {
  display: flex;
}

.turtles {
  display: flex;
}

.birds {
  display: flex;
}

.donations {
  position: absolute;
  font-family: "Montserrat";
}


.flex-nav{
  display: flex;
  width: 100%;
  height: 50px;
  border: solid 2px white;  
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.flex-inside{
  display: flex;
  width: 50%;
  height: 40px;
  border: white solid 2px;
  gap: 5%;
}

#op-var{
  justify-content: flex-end;
  margin-right: 20px;
  margin-right: 10px;
}

video{
  object-fit: fill;
  width: 100%;
  z-index:0;
}

.donate-banner{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0099cc;
  border: solid; 
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
  opacity: 0.9;

  font-family: 'Lobster', cursive;
}

.margin-please{
  margin-top: 70px;
}

.margin-2{
  margin-top: 30px;
  margin-left: 30px;
}

